<ion-header [translucent]="true">
  <ion-toolbar color = "primary">
    <ion-title>
      Favorite
    </ion-title>
    <ion-title slot="end">
      {{favorite.length}}
    </ion-title>
  </ion-toolbar>
</ion-header>

    <ion-header>
      <ion-toolbar color = "primary">
        <ion-searchbar [debounce]="1000" (ionChange)="search()" show-clear-button="focus" [(ngModel)]="inputValue" ></ion-searchbar>
      </ion-toolbar>
    </ion-header>

  <ion-content>
    <ion-list button *ngFor="let item of shown" (click)="favoriteFunc(item)">
      <ion-item>
        {{item}}
      </ion-item>
    </ion-list>
  </ion-content>

